.App {
  text-align: center;
}

.Container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
  /* border: 1px solid blue; */
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, 0);
}
